@media  screen and (max-width:992px) {
    .wrapper {
        padding: 0 5px;
    }
}

@media  screen and (max-width:992px) {
    .bottom {
        padding: 0 5px;
    }
}

@media  screen and (max-width:576px) {
    .footer {
        flex-direction: column;
    }
}

/*992 px XL*/

@media  screen and (max-width:992px) {
    .card {
        height: 366px;
        width: 100%;
    }
}

@media  screen and (max-width:992px) {
    .card img{
        width: 309px;
    }
}

/*768 px md*/

@media  screen and (max-width:768px) {
    .card {
        height: 366px;
        width: 100%;

    }
}

@media  screen and (max-width:768px) {
    .card img{
        width: 368px;
    }
}




/*576px sm*/

@media  screen and (max-width:576px) {
    .card {
        height: 356px;
        width: 100%;
    }

}

@media  screen and (max-width:576px) {
    .card img{
        width: 308px;
    }
}