@media  screen and (max-width:576px) {
    .main-wrapper{
        width: 320px;
        margin:0 auto!important;
        position: relative;
    }
}
@media  screen and (max-width:576px) {
    .main-wrapper{
        width: 100%
    }
}
@media  screen and (max-width:768px) {
    .wrapper {
        padding: 0 10px;
    }
}

@media  screen and (max-width:768px) {
    .bottom {
        padding: 0 5px;
    }
}

@media  screen and (max-width:576px) {
    .footer {
        flex-direction: column;
    }
}

@media  screen and (max-width:576px) {
    .button img{
        width: 120px;
        height: 36px;
    }
}

@media  screen and (max-width:576px) {
    .scroll-top {
        position: fixed;
        right: 17%;
        bottom: 15px;
        background-color: #59BD5A;
        padding: 15px 25px 20px 25px;
        color: white;
        font-size: 25px;
        display: none;

    }
}


@media  screen and (max-width:992px) {
    .navbar-nav{
        flex-direction: row!important;
    }
}
@media  screen and (max-width:576px) {
    .navbar-nav{
        display: none;
    }
}
@media  screen and (max-width:576px) {
    .logo-right a{
        display: none;
    }
}

@media  screen and (max-width:576px) {
    .cards .card {
        margin: 25px 0;
    }
}
