@media  screen and (max-width:576px) {
    .main-wrapper{
        width: 320px;
        margin:0 auto!important;
        position: relative;
    }
}
@media  screen and (max-width:992px) {
    .wrapper {
        padding: 0 10px;
    }
}

@media  screen and (max-width:992px) {
    .bottom {
        padding: 0 5px;
    }
}

@media  screen and (max-width:576px) {
    .footer {
        flex-direction: column;
    }
}

@media  screen and (max-width:576px) {
    .button img{
        width: 120px;
        height: 36px;
    }
}

@media  screen and (max-width:576px) {
    .scroll-top {
        position: fixed;
        right: 17%;
        bottom: 15px;
        background-color: #59BD5A;
        padding: 15px 25px 20px 25px;
        color: white;
        font-size: 25px;
        display: none;

    }
}

@media  screen and (max-width:992px) {
    .card img {
        width: 368px;
        height: 256px;

    }
}
@media  screen and (max-width:992px) {
    .card  {
        width: 366px;

    }
}